In [ ]:
import numpy as np

In [ ]:
def nT(T):
    nT = 1/(np.exp(0.24/T)-1)
    return nT

def nout(nin, A, T):
    L = 10**(A/10)
    nout = nin/L + (1-1/L)*nT(T)
    return nout

In [ ]:
A_300 = 5
A_50 = 10
A_4 = 20
A__6 = 10
A__3 = 10
A___5 = 30

In [ ]:
n300 = nout(1250, A_300, 300)
n50 = nout(n300, A_50, 50)
n4 = nout(n50, A_4, 4)
n_6 = nout(n4, A__6, 0.6)
n_3 = nout(n_6, A__3, 0.3)
n__5 = nout(n_3, A___5, 0.05)
print(n300)
print(n50)
print(n4)
print(n_6)
print(n_3)
print(n__5)